/*
 * Repomaker Add App Styles
 */
.rm-repo-add-toolbar-title {
    @extend .rm-toolbar-action-left;
    font-weight: 500;
    @include font-size(18px);
}

.rm-repo-add-toolbar-count {
    display: none;

    @extend .rm-toolbar-item;
    color: #0066CC;
    font-weight: 500;
    @include font-size(11px);
    i {
        @include font-size(16px);
        padding-right: 3px;
    }
}

#rm-repo-add-toolbar-count-span {
    padding-right: 3px;
}

.rm-repo-add-toolbar-done {
    button {
        @extend .rm-button, .mdl-button;
        border-color: #0066CC !important;
        color: #0066CC;
    }
}

.rm-app-add-container {
    @extend .mdl-grid, .rm-grid--full-width, .rm-grid--center;
}

.rm-app-add {
    @extend .mdl-cell, .mdl-cell--8-col, .mdl-grid;
}

.rm-app-add-filters {
    @extend .mdl-cell, .mdl-cell--4-col;
}

.rm-app-add-filters-field {
    @extend .mdl-textfield;
    align-items: center;
    border: thin solid #ECECEC;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding: 0 6px;

    input {
        border: none;
    }
}

.rm-app-add-filters-field-input {
    @extend .mdl-textfield__input;
}

.rm-app-add-filters-title {
    color: #000000;
    font-weight: 500;
    @include font-size(15px);
    margin-top: 12px;
}

.rm-app-add-divider, .rm-app-add-remote-repository-information-divider {
    border-color: #ECECEC;
}

.rm-app-filter-section span {
    font-weight: 500;
    @include font-size(13px);
    text-transform: uppercase;
    color: #9c9c9c;
}

.rm-app-add-repositories-list {
    padding-left: 0;
}

.rm-app-add-repositories-list-item {
    display: flex;
    list-style: none;

    a {
        color: #000000;
        font-weight: 400;
        @include font-size(15px);
        text-decoration: none;
        width: 100%;
        padding: 3px;
    }
}

.rm-app-add-repositories-list-item:before {
   content: '';
   display: inline-flex;
   height: 16px;
   width: 16px;
   margin-top: 8px;
   margin-right: 12px;
   background-size: contain;
   background-repeat: no-repeat;
   background-image: url(unquote(get-setting(STATIC_URL) + 'maker/images/list_item.png'));
}

.rm-app-add-repositories-list .active:before {
   background-image: url(unquote(get-setting(STATIC_URL) + 'maker/images/list_item_active.png'));
}

.rm-app-add-categories-clear {
    color: #0368cd;
    float: right;
    @include font-size(12px);
    padding: 6px;
    text-decoration: none;
    text-transform: uppercase;
}

.rm-app-add-categories-clear:hover, .rm-app-add-repositories-list-item a:hover,
.rm-app-add-categories-list-item:hover {
    background-color: #ececec;
}

.rm-app-add-categories-list {
    @extend .mdl-grid;
    clear: both;
    padding: 0;
    align-items: flex-start;
    justify-content: space-around;
}

.rm-app-add-categories-list-item {
    @extend .rm-no-underline;
    // TODO: Handle selection
    background: none;
    border: none;
    padding: 6px;
    text-align: center;
    width: 90px;
    flex-grow: 1;
}

.rm-app-add-categories-list-item-circle {
    background-color: #ececec;
    border-radius: 50%;
    display: inline-block;
    height: 35px;
    width: 35px;
}

a:hover .rm-app-add-categories-list-item-circle {
    background-color: #ffecec;
}

.active .rm-app-add-categories-list-item-circle,
a.active:hover .rm-app-add-categories-list-item-circle {
    background-color: #4a4a4a;
}

.rm-app-add-categories-list-item-title {
    font-family: "Roboto-Regular";
    @include font-size(13px);
    text-overflow: ellipsis;
    overflow: hidden;
}

.rm-app-add-apps {
    @extend .mdl-cell, .mdl-cell--8-col, .mdl-grid;
    align-items: flex-start;
    align-content: flex-start;
}

.rm-app-add-remote-repository-information {
    @extend .mdl-cell, .mdl-cell--12-col;
}

.rm-app-add-remote-repository-information-title {
    color: #000000;
    font-family: "Roboto-Black";
    @include font-size(30px);
    margin-bottom: 20px;
    margin-top: 0;
}

.rm-app-add-remote-repository-information-description {
    color: #000000;
    @include font-size(17px);
}

.rm-app-add-no-results {
    width: 100%;
    @include font-size(18px);
    line-height: 24px;
    text-align: center;
    color: gray;
}

#rm-app-add-errors {
    @extend .error;
}

.rm-app-add-pagination {
    background-color: #f6f6f6;
    color: rgb(117,117,117);
    @include font-size(18px);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    a, span {
        @extend .rm-no-underline;
        height: 24px;
        width: 24px;
        line-height: 24px;
        padding: 8px;
        text-align: center;
        border-radius: 50%;
        margin-right: 3px;
    }

    a:hover {
        background-color: #d6d6d6;
    }

    .active {
        background-color: #0066cc;
        color: white;
    }
}
