{% load i18n %}
<div class="rm-grid--center mdl-grid mdl-cell--9-col rm-grid--full-width">
	{% if request.POST.search or apps.count >= 10 %}
	<div class="rm-repo-apps-header mdl-cell mdl-cell--12-col">
		<div class="rm-repo-apps-header-search">
			<a href="#" onclick="toggleSearch()" class="rm-repo-apps-header-search-icon">
				<i class="material-icons">search</i>
			</a>
			<div id="rm-repo-apps-header-search-input"
				 class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label rm-form">
				<form action="" method="post">
					{% csrf_token %}
					<label for="id_search" class="mdl-textfield__label">
						{% trans 'Search for apps in your repository' %}
					</label>
					<input type="text" name="search" id="id_search" class="mdl-textfield__input" value="{{ request.POST.search }}">
				</form>
			</div>
		</div>
	</div>
	{% endif %}
	{% if apps %}
	<div class="rm-repo-apps-add mdl-cell mdl-cell--6-col">
		<div class="rm-repo-apps-add-locally">
			<!-- TODO: Make this a drag and drop area -->
			<div class="rm-repo-apps-empty-add-title">
				<i class="rm-repo-apps-empty-add-icon material-icons">file_upload</i>
				{% trans 'Add .apk files' %}
			</div>
			<!-- TODO: Make this translatable properly -->
			<!--
			<div class="rm-repo-apps-empty-add-description-first">
				{% trans 'Drag and drop .apk, .pdf, .epub, videos, photos or music files' %}
			</div>
			-->
			<div class="rm-repo-apps-empty-add-description-second rm-form">
				<!--{% trans 'or' %}-->
				<form action="{% url 'apk_upload' repo.id %}" enctype="multipart/form-data" method="post">
					{% csrf_token %}
					<label for="id_file" class="rm-repo-apps-empty-add-upload-browse">
						{% trans 'browse to upload' %}
					</label>
					<p>{{ form.file }}</p>
					<button type="submit" class="rm-button--blue mdl-button mdl-js-button">
						{% trans 'Add' %}
					</button>
				</form>
			</div>
		</div>
		<a href="{% url 'add_app' repo.id %}" class="rm-repo-apps-add-remotely">
			<i class="rm-repo-apps-empty-empty-icon material-icons">explore</i>
			<div class="rm-repo-apps-add-remotely-title">
				{% trans 'add from repos' %}
			</div>
		</a>
	</div>
	{% for app in apps %}
		{% url 'app' repo.id app.id as url %}
		{% include "maker/widgets/app.html" with clickable=True url=url width=6 %}
	{% endfor %}
	{% else %}
	<div class="mdl-grid mdl-grid--no-spacing rm-form">
		<div class="rm-repo-apps-empty-add mdl-cell mdl-cell--6-col">
			<!-- TODO: Make this a drag and drop area -->
			<i class="rm-repo-apps-empty-add-icon material-icons">file_upload</i>
			<div class="rm-repo-apps-empty-add-title">{% trans 'Add files' %}</div>
			<!-- TODO: Make this translatable properly -->
			<!--
			<div class="rm-repo-apps-empty-add-description-first">
				{% trans 'Drag and drop .apk, .pdf, .epub, videos, photos or music files' %}
			</div>
			-->
			<div class="rm-repo-apps-empty-add-description-second">
				<!--{% trans 'or' %}-->
				<form action="{% url 'apk_upload' repo.id %}" enctype="multipart/form-data" method="post">
					{% csrf_token %}
					<label for="id_file" class="rm-repo-apps-empty-add-upload-browse">
						{% trans 'browse to upload' %}
					</label>
					<p>{{ form.file }}</p>
					<button type="submit" class="rm-button--blue mdl-button mdl-js-button">
						{% trans 'Add' %}
					</button>
				</form>
			</div>
		</div>
		<div class="rm-repo-apps-empty-discover mdl-cell mdl-cell--6-col">
			<i class="rm-repo-apps-empty-empty-icon material-icons">explore</i>
			<div class="rm-repo-apps-empty-empty-title">{% trans 'Discover' %}</div>
			<div class="rm-repo-apps-empty-empty-description">{% trans 'Find things to add from other repos' %}</div>
			<a href="{% url 'add_app' repo.id %}" class="rm-repo-apps-empty-empty-add rm-no-underline">
				<button type="button" class="rm-button--blue mdl-button mdl-js-button">
					{% trans 'add from repos' %}
				</button>
			</a>
		</div>
	</div>
	{% if request.POST.search %}
	<div class="rm-no-search-results">
		{% trans 'Your search did not return any results.' %}
	</div>
	{% endif %}
	{% endif %}
</div>

<script type="text/javascript">
	var rmRepoAppsHeaderSearchInput = document.getElementById('rm-repo-apps-header-search-input');
	if (document.getElementById('id_search').value == '') rmRepoAppsHeaderSearchInput.style.display = 'none';
	function toggleSearch() {
		if (rmRepoAppsHeaderSearchInput.style.display == 'none') {
			rmRepoAppsHeaderSearchInput.style.display = 'block';
			return;
		}
		rmRepoAppsHeaderSearchInput.style.display = 'none';
	}
</script>
