/*
 * Repomaker Repository Styles
 */
.rm-repo-tabs__tab-bar {
    background: #39414a;

    .mdl-tabs__tab.is-active {
        color: white !important;
    }
}

.rm-repo-tabs__tab {
    color: #abafb3;
    @include font-size(13px);
    padding: 0 50px;
    outline: 0;
}

.rm-repo-tabs__tab:first-child {
    margin-left: 100px;
}

// On devices smaller than desktops tabs are handled differently
@media (max-width: $grid-desktop-breakpoint - 1) {
    .rm-repo-tabs__tab-bar {
        justify-content: center;
    }
    .rm-repo-tabs__tab {
        padding: 0 24px;
    }
    .rm-repo-tabs__tab:first-child {
        margin-left: 0;
    }
}

.rm-repo-tabs__panels {
    margin: 16px;
}

/*
 * Styles for Apps section
 */
.rm-repo-apps-header {
    display: flex;
    align-items: center;
    margin: 0 !important;
}

.rm-repo-apps-header-search {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-flow: row;
    margin-left: 16px;
    font-style: italic;
    font-size: 17px;
    color: #000;

    .mdl-textfield {
        margin-left: 16px;
    }
}

.rm-repo-apps-header-search-icon {
    color: unset;
    text-decoration: none;
    transition: color 0.2s ease;
    padding: 20px 0;
}

.rm-repo-apps-header-search-icon:hover {
    color: #808080;
}

.rm-no-search-results {
    margin-top: 25px;
    @include font-size(17px);
    color: #808080;
}

.rm-repo-apps-add, .rm-repo-apps-empty-add, .rm-repo-apps-empty-discover {
    display: block;
    padding: 90px;
    text-align: center;
}
.rm-repo-apps-empty-add {
    background: #fafafa;
    border: 1px dashed #d7d7d7;
}

.rm-repo-apps-add {
    padding: 0;
}

.rm-repo-apps-add-locally {
    background: #fafafa;
    border-left: 1px dashed #d7d7d7;
    border-right: 1px dashed #d7d7d7;
    border-top: 1px dashed #d7d7d7;
    height: calc(70% - 2 * 15px);
    padding: 15px;
}

.rm-repo-apps-add-remotely {
    align-items: center;
    background: white;
    border: 1px solid #d7d7d7;
    color: unset;
    display: flex;
    height: calc(30%);
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.rm-repo-apps-add-remotely:hover {
    background: #f2f2f2;
}

.rm-repo-apps-add-remotely-title {
    color: #575757;
    @include font-size(11px);
    margin-left: 6px;
    text-decoration: none;
    text-transform: uppercase;
}

.rm-repo-apps-empty-discover {
    border-bottom: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
}

.rm-repo-apps-empty-add-title, .rm-repo-apps-empty-empty-title {
    @include font-size(15px);
}

.rm-repo-apps-empty-add-description-first,
.rm-repo-apps-empty-add-description-second,
.rm-repo-apps-empty-empty-description {
    color: #575757;
    @include font-size(14px);
}

.rm-repo-apps-empty-add-upload-browse {
    color: #0066CC;
    @include font-size(13px);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

/*
 * Styles for Info section
 */
.rm-repo-info-header {
    display: flex;
}

.rm-repo-info-name-container {
    flex-grow: 1;
}

.rm-repo-info-name-header, .rm-repo-info-description-header,
.rm-repo-info-storage-header, .rm-repo-info-fingerprint-header {
    color: #575757;
    @include font-size(14px);
    padding: 15px 0;
    text-transform: uppercase;
}

.rm-repo-info-name {
    @include font-size(18px);
}

.rm-repo-info-edit, .rm-repo-info-storage-add-ssh,
.rm-repo-info-storage-add-git, .rm-repo-info-storage-add-as3 {
    @extend .rm-no-underline;
    button {
        @extend .rm-button, .mdl-button;
        padding: 0 35px;
    }
}

.rm-repo-info-description-header {
    padding-top: 45px;
}

.rm-repo-info-description {
    color: #000000;
    padding-bottom: 25px;
}

.rm-repo-info-divider {
    border-color: #ECECEC;
}

.rm-repo-info-storage-header {
    padding-top: 3px;
}

.rm-repo-info-storages {
    @extend .mdl-list;
}

.rm-repo-info-storages-item {
    @extend .mdl-list__item, .mdl-list__item--two-line;
    transition: background-color 0.2s ease;
}

.rm-repo-info-storages-item:hover {
    background: #f2f2f2;
}

.rm-repo-info-storage-add-ssh, .rm-repo-info-storage-add-git, .rm-repo-info-storage-add-as3 {
    margin-right: 3px;
}

.rm-repo-info-fingerprint {
    font-family: monospace;
    @include font-size(18px);
    word-spacing: 10px;
}

/*
 * Styles for share section
 */
.rm-repo-share-container {
    @extend .mdl-grid, .rm-grid--center;
}
.rm-repo-share {
    @extend .mdl-cell, .mdl-cell--6-col;
}

.rm-repo-share-empty {
    @extend .center;
}

.rm-repo-share-general {
    display: flex;
}

.rm-repo-share-general-text {
    flex-grow: 1;
    font-weight: 500;
    @include font-size(17px);
    span {
        color: #0167cd;
    }
}

.rm-repo-share-general-view {
    @extend .rm-repo-info-edit;
}

.rm-repo-share-share-copy {
    @extend .rm-button, .mdl-button;
    border-color: #0167cd !important;
    color: #0167cd;
    display: none;
    padding: 0 35px;
}

.rm-repo-share-share-copy--successful, .rm-repo-share-share-copy--successful:focus:not(:active),
.rm-repo-share-share-copy--successful:hover{
    @extend .rm-button, .mdl-button;
    background: #0062cf !important;
    border: thin solid #0062cf !important;
    border-radius: 25px !important;
    color: white;
    @include font-size(11px);
    margin: 10px;
    padding: 0 35px;
    vertical-align: middle;
}

.rm-repo-share-add-scan {
    @extend .rm-no-underline;
    button {
        @extend .rm-repo-share-share-copy;
        display: inline-block;
    }
}

.rm-repo-share-share-header, .rm-repo-share-add-header {
    @extend .rm-repo-info-name-header;
}

.rm-repo-share-share, .rm-repo-share-add {
    display: flex;
}

.rm-repo-share-share-url, .rm-repo-share-add-text {
    flex-grow: 1;
}

.rm-repo-share-divider {
    @extend .rm-repo-info-divider;
}

.rm-repo-share-social {
    @extend .center;
    a {
        @extend .rm-no-underline;
        padding: 15px;
    }
    img {
        height: 30px;
        width: 30px;
    }
}
