{% extends "maker/base_modal.html" %}
{% load i18n %}
{% load sass_tags %}
{% load static %}

{% block title %}{% trans 'Choose from Repos' %}{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock head %}

{% block toolbar %}
<div class="rm-grid--full-width rm-grid--center mdl-grid">
	<div class="rm-app-toolbar mdl-cell mdl-cell--8-col">
		<!-- Title -->
		<span class="rm-repo-add-toolbar-title">
			{% trans 'Choose from Repos' %}
		</span>
		<div>
			<span class="rm-repo-add-toolbar-count">
				<i class="material-icons">done</i>
				<!-- TODO: Make app count working -->
				{% blocktrans with apps_count='<span id="rm-repo-add-toolbar-count-span">2</span>' trimmed %}
				{{ apps_count }} added
				{% endblocktrans %}
			</span>
			<a href="{% url 'repo' repo.id %}" class="rm-repo-add-toolbar-done" onclick="done(event)">
				<button>{% trans 'Done' %}</button>
			</a>
		</div>
	</div>
</div>
{% endblock toolbar %}

{% block rm-content %}
<div class="rm-app-add-container">
	<div class="rm-app-add ">
			<div class="rm-app-add-filters">
				<form action="" method="get">
					<div class="rm-app-add-filters-field mdl-js-textfield">
						<i class="material-icons">search</i>
						<input type="text" name="search" class="rm-app-add-filters-field-input"
							   value="{{ request.GET.search }}"/>
					</div>
				</form>

				<div class="rm-app-add-filters-title">{% trans 'Filters' %}</div>

				<hr class="rm-app-add-divider" />

				<div class="rm-app-filter-section">
					<span>{% trans 'Repos' %}</span>
					<a href="{% url 'add_remote_repo' %}" class="rm-app-add-categories-clear">{% trans 'Add' %}</a>
				</div>

				<ul class="rm-app-add-repositories-list">
					<li class="rm-app-add-repositories-list-item{%if not remote_repo %} active{% endif %}">
						<a href="{% if category %}{% url 'add_app_with_category' repo.id category.id %}{% else %}{% url 'add_app' repo.id %}{% endif %}?{{ search_params }}">
							{% trans 'All' %}
						</a>
					</li>
					{% for r in remote_repos %}
					<li class="rm-app-add-repositories-list-item{%if r == remote_repo %} active{% endif %}">
						<a href="{% if category %}{% url 'add_app_with_category' repo.id r.id category.id %}{% else %}{% url 'add_app' repo.id r.id %}{% endif %}?{{ search_params }}">
							{{ r.name }}
						</a>
					</li>
					{% endfor %}
				</ul>

				<div class="rm-app-filter-section">
					<span>{% trans 'Categories' %}</span>
					{% if category %}
					<a href="{% if remote_repo %}{% url 'add_app' repo.id remote_repo.id %}{% else %}{% url 'add_app' repo.id %}{% endif %}?{{ search_params }}"
					   class="rm-app-add-categories-clear">{% trans 'clear' %}</a>
					{% endif %}
				</div>
				<div class="rm-app-add-categories-list">
					{% for c in categories %}
					<a href="{% if remote_repo %}{% url 'add_app_with_category' repo.id remote_repo.id c.id %}{% else %}{% url 'add_app_with_category' repo.id c.id %}{% endif %}?{{ search_params }}"
					   class="rm-app-add-categories-list-item{% if c == category %} active{% endif %}">
						<div class="rm-app-add-categories-list-item-circle"></div>
						<div class="rm-app-add-categories-list-item-title">{{ c.name }}</div>
					</a>
					{% endfor %}
				</div>
			</div>
			<div class="rm-app-add-apps">
				<p id="rm-app-add-errors" hidden></p>
				{% if remote_repo %}
				<div class="rm-app-add-remote-repository-information">
					<h1 class="rm-app-add-remote-repository-information-title">{{ remote_repo.name }}</h1>
					<p class="rm-app-add-remote-repository-information-description">{{ remote_repo.description }}</p>
					<hr class="rm-app-add-remote-repository-information-divider" />
				</div>
				{% endif %}
				<!-- TODO: Add should add app asynchronously in the background, updating the count at the top -->
				{% csrf_token %}
				{% for app in apps %}
					{% url 'add_remote_app' repo.id app.repo.id app.id as url %}
					{% trans 'Add' as action_title %}
					{% include "maker/widgets/app_with_action.html" with url=url width=12 action_title=action_title %}
				{% empty %}
					<div class="rm-app-add-no-results">
						{% if request.GET.search %}
							{% blocktrans with search_term=request.GET.search trimmed %}
								No apps found that match '{{ search_term }}'.
								Please try a different search or remove other filter criteria.
							{% endblocktrans %}
						{% elif not category %}
							{% if remote_repo %}
								{% trans 'There are no apps in this repo.' %}
							{% else %}
								{% trans 'There are no apps available in the repos.' %}
							{% endif %}
							{% trans 'If you just added a repo, wait for the apps to download and try again later.' %}
						{% elif remote_repo %}
							{% trans 'This repo has no apps in the selected category. Try clearing it or select a different repo.' %}
						{% else %}
							{% trans 'There are no apps available in the selected category. Try clearing it.' %}
						{% endif %}
					</div>
				{% endfor %}
			</div>
	</div>
</div>

{% if is_paginated %}
<div class="rm-app-add-pagination">
	{% if page_obj.has_previous %}
	<a href="?page={{ page_obj.previous_page_number }}&amp;{{ search_params }}">
		<i class="material-icons mdl-list__item-icon">arrow_back</i>
	</a>
	{% endif %}

	{% for page in paginator.page_range %}
	{% if page == page_obj.number %}
	<span class="active">{{ page }}</span>
	{% else %}
	<a href="?page={{ page }}&amp;{{ search_params }}">{{ page }}</a>
	{% endif %}
	{% endfor %}

	{% if page_obj.has_next %}
	<a href="?page={{ page_obj.next_page_number }}&amp;{{ search_params }}">
		<i class="material-icons mdl-list__item-icon">arrow_forward</i>
	</a>
	{% endif %}
</div>
{% endif %}

<script src="{% static 'maker/js/app/add.js' %}"></script>
{% endblock rm-content %}
