{% extends "maker/base_modal.html" %}
{% load i18n %}
{% load sass_tags %}

{% block title %}{% trans 'Delete App Version' %}{% endblock %}

{% block head %}
<link href="{% sass_src 'maker/css/forms.scss' %}" rel="stylesheet" type="text/css" media="all">
{% endblock head %}

{% block rm-content %}
<div class="rm-form mdl-grid rm-grid--center">
	<form action="" method="post">
		{% csrf_token %}
		<div class="mdl-cell mdl-cell--8-col">
			<p>
			{% blocktrans with app=object.app version=object.apk.version_name code=object.apk.version_code trimmed %}
			Are you sure you want to delete this version <strong>{{ version }}</strong> ({{ code }})
			from your app <strong>{{ app }}</strong>?
			{% endblocktrans %}
			</p>
			<input type="submit" value="{% trans 'Confirm' %}"/>
		</div>
	</form>
</div>
{% endblock rm-content %}
