{% extends "maker/widgets/app.html" %}
{% load i18n %}
{% block rm-app-card-right %}
<div class="rm-app-card-footer">
	<div class="rm-app-card-categories">
		{% if app.category.exists %}
		{% for category in app.category.all %}
		<span class="rm-app-card-category-chip mdl-chip">
			<span class="rm-app-card-category-text mdl-chip__text">{{ category }}</span>
		</span>
		{% endfor %}
		{% endif %}
	</div>
	<!-- TODO: Make onclick configuarable -->
	<a href="{{ url }}"
	   id='rm-app-card-footer-action--{{ app.id }}'
	   class="rm-app-card-footer-action"
	   onclick="addRemoteApp(event, {{ repo.id }}, {{ app.repo.id }}, {{ app.id }})">
		<button id='rm-app-card-footer-action--{{ app.id }}-button'>{{ action_title }}</button>
	</a>
</div>
{% endblock rm-app-card-right %}
