/*
 * Material Design Icons
 */
$material-design-icons-font-path: unquote(get-setting(NODE_MODULES_URL) + 'material-design-icons-iconfont/dist/fonts/');
@import "material-design-icons-iconfont/dist/material-design-icons.scss";

/*
 * Roboto Font
 */
$roboto-font-path: unquote(get-setting(NODE_MODULES_URL) + "roboto-fontface/fonts");
@import "roboto-fontface/css/roboto/sass/roboto-fontface";

/*
 * Material Design Lite
 */
@import "material-design-lite/src/animation/animation";
@import "material-design-lite/src/button/button";
@import "material-design-lite/src/card/card";
@import "material-design-lite/src/checkbox/checkbox";
@import "material-design-lite/src/chip/chip";
@import "material-design-lite/src/grid/grid";
@import "material-design-lite/src/icon-toggle/icon-toggle";
@import "material-design-lite/src/layout/layout";
@import "material-design-lite/src/list/list";
@import "material-design-lite/src/menu/menu";
@import "material-design-lite/src/mixins";
@import "material-design-lite/src/resets/resets";
@import "material-design-lite/src/ripple/ripple";
@import "material-design-lite/src/shadow/shadow";
@import "material-design-lite/src/tabs/tabs";
@import "material-design-lite/src/textfield/textfield";
@import "material-design-lite/src/typography/typography";
@import "material-design-lite/src/variables";

@import "mixins";

/*
 * General Repomaker Styles
 */
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.rm-header, .rm-header a {
    overflow: visible;
    background-color: #39414a;
    color: white;
}

.rm-header--light, .rm-header--light a {
    background-color: white !important;
    color: #767777 !important;
}

.rm-header .mdl-layout__drawer-button {
    background: transparent;
}

.rm-header--light .mdl-layout__drawer-button {
    color: #767777 !important;
}

.rm-header .mdl-navigation__link, .rm-title a, .rm-toolbar-item {
    font-weight: 700;
}

.rm-logo {
    font-weight: 500;
    text-transform: uppercase;
    @include font-size(17px);
    width: 100%;
    text-align: center;
}

.rm-title {
    display: inline-flex;
    vertical-align: middle;
}

.rm-toolbar-action-left {
    color: white;
    text-decoration: none;
    align-items: flex-start;
    display: flex;
    flex-grow: 2;
    flex-flow: column;
}

.rm-header--light .rm-toolbar-action-left {
    color: #767777 !important;
}

.rm-toolbar-item {
    display: inline-flex;
    vertical-align: middle;
    text-decoration: none;
    margin: 20px;
}

.rm-button, .rm-button--blue, .rm-button--red, .rm-button--red-border {
    @extend .mdl-button;
    font-size: 12px !important;
    background: none !important;
    border: thin solid #4a4a4a !important;
    border-radius: 25px !important;
}

.rm-button:hover {
    background: #f2f2f2 !important;
}

.rm-button--blue {
    background-color: #0066cc !important;
    border: thin solid #0066cc !important;
    color: white !important;
    transition: background-color 0.2s ease;
}

.rm-button--blue:hover {
    background-color: #0079f2 !important;
}

.rm-button--red {
    @extend .rm-button;
    color: white !important;
    background-color: #FF3E16 !important;
    border: thin solid #FF3E16 !important;
}

.rm-button--red-border {
    @extend .rm-button;
    color: #FF3E16 !important;
    border: thin solid #FF3E16 !important;
}

.rm-button--red:hover {
    background: #EE2E06 !important;
}

.rm-button--red-border:hover {
    @extend .rm-button:hover;
}

.rm-toolbar-account {
    @extend .mdl-navigation__link;
    font-weight: 400 !important;
    padding: 0 6px !important;
}

.rm-site-notice {
    padding: 1em;
    background-color: yellow;
    text-align: center;
}

.rm-content {
	margin: 0px;
}

.center {
    text-align: center;
}

.rm-grid--center {
    justify-content: center;
}

.rm-grid--full-width {
    width: 100%;
}

a.rm-no-underline {
	text-decoration: none;
	color: unset;
}

.mdl-layout-title a, a.material-icons, .mdl-list__item a {
	text-decoration: none;
	color: unset;
}

.rm-icon {
    $size: 80px;
    height: $size;
    width: $size;
}

.rm-icon--large {
    $size: 120px;
    height: $size;
    width: $size;
}
/*
 * Repo Empty State
 */

.rm-repo-empty-box {
    @extend .mdl-cell, .mdl-cell--8-col;
    background-color: #F6F8FC;
    margin: 25px auto;
    padding: 25px;
    text-align: center;

    img {
        max-width: 100%;
    }

    p {
        @include font-size(22px);
    }

    button {
        @extend .rm-button--blue;
        font-size: 14px !important;
        height: 52px;
        padding: 0 52px;
        white-space: nowrap;
    }
}

/*
 * Repo card
 */

.rm-repo-card {
    @extend .mdl-cell, .mdl-cell--4-col, .mdl-card, .mdl-shadow--2dp;
    border-radius: 8px;
    transition: background-color 0.2s ease;

    .rm-app-number {
        font-family: "Roboto-Black";
        @include font-size(52px);
    }

    .rm-repo-title {
        font-family: "Roboto-Medium";
        @include font-size(22px);
    }

    .mdl-card__title {
        padding-bottom: 0px;
    }

    .mdl-card__supporting-text {
        @include font-size(14px);
        color: #000000;
    }

    .rm-repo-date {
        padding-bottom: 0px;
        color: #575757;
    }
}

.rm-repo-card:hover {
    @extend .rm-app-card:hover;
}

.error {
    color: rgb(213,0,0);
}

@import "app/styles.scss";
@import "app/widget.scss";
@import "repo/styles.scss";
